.blog {
  .blog-preview:first-of-type {
    padding: 0 !important;
  }

  .blog-description {
    padding-bottom: 1.85rem;
  }

  .blog-title {
    h3 {
      font-size: 1.25rem;
    }

    a {
      text-decoration: none;

      @media(min-width: 992px) {
        width: auto !important;
      }
    }
  }
}

.blog-single {
  h1 {
    font-size: 1.7rem;
  }

  h2, h3 {
    color: $primary;
  }

  p {
    line-height: 24px;
    margin-bottom: 15px;
  }
}
