@import './variables';
@import '../../node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import '../../node_modules/bootstrap/scss/containers.scss';
@import './utilities';
@import './blog';

@font-face {
  font-family: 'IBM Plex Sans', sans-serif;
  src: url('fonts/IBMPlexSans-Bold');
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background: $neutral;
  color: $darker;
  font-family: 'IBM Plex Sans';
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $darker;
}

header {
  border-bottom: 2px solid;

  h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 35px;
  }
}

.intro-container {
  margin-top: 4rem;
}

.intro {
  width: 30%;
  font-size: 26px;
}

.site-wrapper {
  min-height: 650px;
}

.font-15 {
  font-size: 15px;
}
