{{ define "main" }}
  <section class="blog">
    {{ range .Pages }}
      <div class="blog-preview pt-2 border-bottom">
        <div class="blog-title d-flex flex-wrap justify-content-between align-items-baseline pb-4">
          <div>
            <a href="{{ .Permalink }}" class="w-100 pb-1">
              <h3 class="text-primary pt-3">{{ .Title }}</h3>
            </a>
            <p class="pt-1">{{ .Date.Format "01-02-2006" }}</p>
          </div>
        </div>
        <p class="blog-description">{{ .Description }}</p>
      </div>
    {{ end }}
  </section>
{{ end }}

