{{ $isLocalServer := .Site.IsServer }}
{{ $options := (dict "enableSourceMap" true) }}
{{ $scss := "scss/main.scss" }}
{{ $styles := "" }}

{{ if $isLocalServer }}
  {{ $styles = resources.Get $scss | toCSS $options }}
{{ else }}
  {{ $styles = resources.Get $scss | toCSS $options | minify | fingerprint }}
{{ end }}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Imaginor.dev</title>
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
</head>
